# ----------------------------------------------------
# List of Ignored Files for the ViSTA MBAH project
# ----------------------------------------------------

# Ignore results files and originals scripts of the model
analysis/
data/

# Ignore figures and analysis documents
ViSTA_Model_Scripts_analysis.docx
metadata_MBAH.xlsx
Series_table.xlsx

# Ignore shell scripts for workload managing on calcul server
simulationsARRAY_gen.sh

# Keep only the lastest version of the model in repository
script/*
!/script/2.2
