# ----------------------------------------------------
# List of Ignored Files for the ViSTA MBAH project
# ----------------------------------------------------

# Ignore results files and originals scripts of the model
Output/
Original_ViSTA_Mayaud/
